<!DOCTYPE html>
<html lang="en">
	<head>
		{% include 'head.twig' %}
	</head>
	<body id="kt_body" class="header-fixed header-tablet-and-mobile-fixed toolbar-enabled toolbar-fixed" style="--kt-toolbar-height:55px;--kt-toolbar-height-tablet-and-mobile:55px">
		<div class="d-flex flex-column flex-root">
			<div class="page d-flex flex-row flex-column-fluid">
				<div class="wrapper d-flex flex-column flex-row-fluid" id="kt_wrapper">
					{% include 'panel/header.twig' %}
					<div class="content d-flex flex-column flex-column-fluid" id="kt_content">
						<div class="toolbar" id="kt_toolbar">
							<div id="kt_toolbar_container" class="container-fluid d-flex flex-stack">
								<div data-kt-swapper="true" data-kt-swapper-mode="prepend" data-kt-swapper-parent="{default: '#kt_content_container', 'lg': '#kt_toolbar_container'}" class="page-title d-flex align-items-center flex-wrap me-3 mb-5 mb-lg-0">
									<h1 class="d-flex text-dark fw-bolder fs-3 align-items-center my-1">My Projects</h1>
									<span class="h-20px border-gray-300 border-start mx-4"></span>
									<ul class="breadcrumb breadcrumb-separatorless fw-bold fs-7 my-1">
										<li class="breadcrumb-item text-muted">
											<a href="../../demo1/dist/index.html" class="text-muted text-hover-primary">Home</a>
										</li>
										<li class="breadcrumb-item">
											<span class="bullet bg-gray-300 w-5px h-2px"></span>
										</li>
										<li class="breadcrumb-item text-muted">Projects</li>
										<li class="breadcrumb-item">
											<span class="bullet bg-gray-300 w-5px h-2px"></span>
										</li>
										<li class="breadcrumb-item text-dark">My Projects</li>
									</ul>
								</div>
							</div>
						</div>
						<div class="post d-flex flex-column-fluid" id="kt_post">
							<div id="kt_content_container" class="container-xxl">
								<div class="row g-6 g-xl-9">
									<div class="col-xl-6 col-sm-12 col-md-12">
										<div class="card">
											<div class="card-header border-0 pt-6">
												<div class="card-title">
													<div class="d-flex align-items-center position-relative my-1">
														<span class="svg-icon svg-icon-1 position-absolute ms-6">
															<svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none">
																<rect opacity="0.5" x="17.0365" y="15.1223" width="8.15546" height="2" rx="1" transform="rotate(45 17.0365 15.1223)" fill="black" />
																<path d="M11 19C6.55556 19 3 15.4444 3 11C3 6.55556 6.55556 3 11 3C15.4444 3 19 6.55556 19 11C19 15.4444 15.4444 19 11 19ZM11 5C7.53333 5 5 7.53333 5 11C5 14.4667 7.53333 17 11 17C14.4667 17 17 14.4667 17 11C17 7.53333 14.4667 5 11 5Z" fill="black" />
															</svg>
														</span>
														<input type="text" data-kt-user-table-filter="search" class="form-control form-control-solid w-250px ps-14" placeholder="Search user" />
													</div>
												</div>
												<div class="card-toolbar">
													<div class="d-flex justify-content-end" data-kt-user-table-toolbar="base">
														<button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#kt_modal_add_user">
														<span class="svg-icon svg-icon-2">
															<svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none">
																<rect opacity="0.5" x="11.364" y="20.364" width="16" height="2" rx="1" transform="rotate(-90 11.364 20.364)" fill="black"></rect>
																<rect x="4.36396" y="11.364" width="16" height="2" rx="1" fill="black"></rect>
															</svg>
														</span>
														Add User</button>
													</div>
													<div class="modal fade" id="kt_modal_add_user" tabindex="-1" aria-hidden="true">
														<div class="modal-dialog modal-dialog-centered mw-650px">
															<div class="modal-content">
																<div class="modal-header" id="kt_modal_add_user_header">
																	<h2 class="fw-bolder">Add User</h2>
																	<div class="btn btn-icon btn-sm btn-active-icon-primary" data-kt-users-modal-action="close">
																		<span class="svg-icon svg-icon-1">
																			<svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none">
																				<rect opacity="0.5" x="6" y="17.3137" width="16" height="2" rx="1" transform="rotate(-45 6 17.3137)" fill="black" />
																				<rect x="7.41422" y="6" width="16" height="2" rx="1" transform="rotate(45 7.41422 6)" fill="black" />
																			</svg>
																		</span>
																	</div>
																</div>
																<div class="modal-body scroll-y mx-5 mx-xl-15 my-7">
																	<form id="kt_modal_add_user_form" class="form" action="#">
																		<div class="d-flex flex-column scroll-y me-n7 pe-7" id="kt_modal_add_user_scroll" data-kt-scroll="true" data-kt-scroll-activate="{default: false, lg: true}" data-kt-scroll-max-height="auto" data-kt-scroll-dependencies="#kt_modal_add_user_header" data-kt-scroll-wrappers="#kt_modal_add_user_scroll" data-kt-scroll-offset="300px">
																			<div class="fv-row mb-7">
																				<label class="d-block fw-bold fs-6 mb-5">Avatar</label>
																				<div class="image-input image-input-outline" data-kt-image-input="true" style="background-image: url('assets/media/svg/avatars/blank.svg')">
																					<div class="image-input-wrapper w-125px h-125px" style="background-image: url(assets/media/avatars/300-6.jpg);"></div>
																					<label class="btn btn-icon btn-circle btn-active-color-primary w-25px h-25px bg-body shadow" data-kt-image-input-action="change" data-bs-toggle="tooltip" title="Change avatar">
																						<i class="bi bi-pencil-fill fs-7"></i>
																						<input type="file" name="avatar" accept=".png, .jpg, .jpeg" />
																						<input type="hidden" name="avatar_remove" />
																					</label>
																					<span class="btn btn-icon btn-circle btn-active-color-primary w-25px h-25px bg-body shadow" data-kt-image-input-action="cancel" data-bs-toggle="tooltip" title="Cancel avatar">
																						<i class="bi bi-x fs-2"></i>
																					</span>
																					<span class="btn btn-icon btn-circle btn-active-color-primary w-25px h-25px bg-body shadow" data-kt-image-input-action="remove" data-bs-toggle="tooltip" title="Remove avatar">
																						<i class="bi bi-x fs-2"></i>
																					</span>
																				</div>
																				<div class="form-text">Allowed file types: png, jpg, jpeg.</div>
																			</div>
																			<div class="fv-row mb-7">
																				<label class="required fw-bold fs-6 mb-2">Full Name</label>
																				<input type="text" name="user_name" class="form-control form-control-solid mb-3 mb-lg-0" placeholder="Full name" value="Emma Smith" />
																			</div>
																		</div>
																		<div class="text-center pt-15">
																			<button type="reset" class="btn btn-light me-3" data-kt-users-modal-action="cancel">Discard</button>
																			<button type="submit" class="btn btn-primary" data-kt-users-modal-action="submit">
																				<span class="indicator-label">Submit</span>
																				<span class="indicator-progress">Please wait...
																				<span class="spinner-border spinner-border-sm align-middle ms-2"></span></span>
																			</button>
																		</div>
																	</form>
																</div>
															</div>
														</div>
													</div>
												</div>
											</div>
											<div class="card-body py-4">
												<table class="table align-middle table-row-dashed fs-6 gy-5" id="kt_table_users">
													<thead>
														<tr class="text-start text-muted fw-bolder fs-7 text-uppercase gs-0">
															<th class="min-w-125px">User</th>
														</tr>
													</thead>
													<tbody class="text-gray-600 fw-bold">
														<tr>
															<td class="d-flex align-items-center">
																
																<div class="symbol symbol-circle symbol-50px overflow-hidden me-3">
																	<a href="../../demo1/dist/apps/user-management/users/view.html">
																		<div class="symbol-label">
																			<img src="assets/media/avatars/300-6.jpg" alt="Emma Smith" class="w-100" />
																		</div>
																	</a>
																</div>
																
																
																<div class="d-flex flex-column">
																	<a href="../../demo1/dist/apps/user-management/users/view.html" class="text-gray-800 text-hover-primary mb-1">Emma Smith</a>
																	<span>smith@kpmg.com</span>
																</div>
																
															</td>
															
														</tr>
													</tbody>
												</table>
											</div>
										</div>
									</div>
									<div class="col-xl-6 col-sm-12 col-md-12">
										<div class="card">
											<div class="card-header border-0 pt-6">
												<div class="card-title">
													<div class="d-flex align-items-center position-relative my-1">
														<span class="svg-icon svg-icon-1 position-absolute ms-6">
															<svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none">
																<rect opacity="0.5" x="17.0365" y="15.1223" width="8.15546" height="2" rx="1" transform="rotate(45 17.0365 15.1223)" fill="black" />
																<path d="M11 19C6.55556 19 3 15.4444 3 11C3 6.55556 6.55556 3 11 3C15.4444 3 19 6.55556 19 11C19 15.4444 15.4444 19 11 19ZM11 5C7.53333 5 5 7.53333 5 11C5 14.4667 7.53333 17 11 17C14.4667 17 17 14.4667 17 11C17 7.53333 14.4667 5 11 5Z" fill="black" />
															</svg>
														</span>
														<input type="text" data-kt-user-table-filter="search" class="form-control form-control-solid w-250px ps-14" placeholder="Search user" />
													</div>
												</div>
												<div class="card-toolbar">
													<div class="d-flex justify-content-end" data-kt-user-table-toolbar="base">
														<button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#kt_modal_add_user">
														<span class="svg-icon svg-icon-2">
															<svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none">
																<rect opacity="0.5" x="11.364" y="20.364" width="16" height="2" rx="1" transform="rotate(-90 11.364 20.364)" fill="black"></rect>
																<rect x="4.36396" y="11.364" width="16" height="2" rx="1" fill="black"></rect>
															</svg>
														</span>
														Add User</button>
													</div>
													<div class="modal fade" id="kt_modal_add_user" tabindex="-1" aria-hidden="true">
														<div class="modal-dialog modal-dialog-centered mw-650px">
															<div class="modal-content">
																<div class="modal-header" id="kt_modal_add_user_header">
																	<h2 class="fw-bolder">Add User</h2>
																	<div class="btn btn-icon btn-sm btn-active-icon-primary" data-kt-users-modal-action="close">
																		<span class="svg-icon svg-icon-1">
																			<svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none">
																				<rect opacity="0.5" x="6" y="17.3137" width="16" height="2" rx="1" transform="rotate(-45 6 17.3137)" fill="black" />
																				<rect x="7.41422" y="6" width="16" height="2" rx="1" transform="rotate(45 7.41422 6)" fill="black" />
																			</svg>
																		</span>
																	</div>
																</div>
																<div class="modal-body scroll-y mx-5 mx-xl-15 my-7">
																	<form id="kt_modal_add_user_form" class="form" action="#">
																		<div class="d-flex flex-column scroll-y me-n7 pe-7" id="kt_modal_add_user_scroll" data-kt-scroll="true" data-kt-scroll-activate="{default: false, lg: true}" data-kt-scroll-max-height="auto" data-kt-scroll-dependencies="#kt_modal_add_user_header" data-kt-scroll-wrappers="#kt_modal_add_user_scroll" data-kt-scroll-offset="300px">
																			<div class="fv-row mb-7">
																				<label class="d-block fw-bold fs-6 mb-5">Avatar</label>
																				<div class="image-input image-input-outline" data-kt-image-input="true" style="background-image: url('assets/media/svg/avatars/blank.svg')">
																					<div class="image-input-wrapper w-125px h-125px" style="background-image: url(assets/media/avatars/300-6.jpg);"></div>
																					<label class="btn btn-icon btn-circle btn-active-color-primary w-25px h-25px bg-body shadow" data-kt-image-input-action="change" data-bs-toggle="tooltip" title="Change avatar">
																						<i class="bi bi-pencil-fill fs-7"></i>
																						<input type="file" name="avatar" accept=".png, .jpg, .jpeg" />
																						<input type="hidden" name="avatar_remove" />
																					</label>
																					<span class="btn btn-icon btn-circle btn-active-color-primary w-25px h-25px bg-body shadow" data-kt-image-input-action="cancel" data-bs-toggle="tooltip" title="Cancel avatar">
																						<i class="bi bi-x fs-2"></i>
																					</span>
																					<span class="btn btn-icon btn-circle btn-active-color-primary w-25px h-25px bg-body shadow" data-kt-image-input-action="remove" data-bs-toggle="tooltip" title="Remove avatar">
																						<i class="bi bi-x fs-2"></i>
																					</span>
																				</div>
																				<div class="form-text">Allowed file types: png, jpg, jpeg.</div>
																			</div>
																			<div class="fv-row mb-7">
																				<label class="required fw-bold fs-6 mb-2">Full Name</label>
																				<input type="text" name="user_name" class="form-control form-control-solid mb-3 mb-lg-0" placeholder="Full name" value="Emma Smith" />
																			</div>
																		</div>
																		<div class="text-center pt-15">
																			<button type="reset" class="btn btn-light me-3" data-kt-users-modal-action="cancel">Discard</button>
																			<button type="submit" class="btn btn-primary" data-kt-users-modal-action="submit">
																				<span class="indicator-label">Submit</span>
																				<span class="indicator-progress">Please wait...
																				<span class="spinner-border spinner-border-sm align-middle ms-2"></span></span>
																			</button>
																		</div>
																	</form>
																</div>
															</div>
														</div>
													</div>
												</div>
											</div>
											<div class="card-body py-4">
												<table class="table align-middle table-row-dashed fs-6 gy-5" id="kt_table_publishers">
													<thead>
														<tr class="text-start text-muted fw-bolder fs-7 text-uppercase gs-0">
															<th class="min-w-125px">User</th>
														</tr>
													</thead>
													<tbody class="text-gray-600 fw-bold">
														<tr>
															<td class="d-flex align-items-center">
																<div class="d-flex flex-column">
																	<a href="../../demo1/dist/apps/user-management/users/view.html" class="text-gray-800 text-hover-primary mb-1">Emma Smith</a>
																	<span>smith@kpmg.com</span>
																</div>
															</td>
														</tr>
													</tbody>
												</table>
											</div>
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>
					<div class="footer py-4 d-flex flex-lg-column" id="kt_footer">
						<div class="container-fluid d-flex flex-column flex-md-row align-items-center justify-content-between">
							<div class="text-dark order-2 order-md-1">
								<span class="text-muted fw-bold me-1">2022©</span>
								<a href="https://keenthemes.com" target="_blank" class="text-gray-800 text-hover-primary">Keenthemes</a>
							</div>
							<ul class="menu menu-gray-600 menu-hover-primary fw-bold order-1">
								<li class="menu-item">
									<a href="https://keenthemes.com" target="_blank" class="menu-link px-2">About</a>
								</li>
								<li class="menu-item">
									<a href="https://devs.keenthemes.com" target="_blank" class="menu-link px-2">Support</a>
								</li>
								<li class="menu-item">
									<a href="https://1.envato.market/EA4JP" target="_blank" class="menu-link px-2">Purchase</a>
								</li>
							</ul>
						</div>
					</div>
				</div>
			</div>
		</div>
		<div id="kt_scrolltop" class="scrolltop" data-kt-scrolltop="true">
			
			<span class="svg-icon">
				<svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none">
					<rect opacity="0.5" x="13" y="6" width="13" height="2" rx="1" transform="rotate(90 13 6)" fill="black" />
					<path d="M12.5657 8.56569L16.75 12.75C17.1642 13.1642 17.8358 13.1642 18.25 12.75C18.6642 12.3358 18.6642 11.6642 18.25 11.25L12.7071 5.70711C12.3166 5.31658 11.6834 5.31658 11.2929 5.70711L5.75 11.25C5.33579 11.6642 5.33579 12.3358 5.75 12.75C6.16421 13.1642 6.83579 13.1642 7.25 12.75L11.4343 8.56569C11.7467 8.25327 12.2533 8.25327 12.5657 8.56569Z" fill="black" />
				</svg>
			</span>
			
		</div>
		{% include 'script.twig' %}
		{# <script src="assets/plugins/custom/datatables/datatables.bundle.js"></script>
		<script src="assets/js/custom/apps/user-management/users/list/table.js"></script>
		<script src="assets/js/custom/apps/user-management/users/list/export-users.js"></script>
		<script src="assets/js/custom/apps/user-management/users/list/add.js"></script>
		<script src="assets/js/widgets.bundle.js"></script>
		<script src="assets/js/custom/widgets.js"></script>
		<script src="assets/js/custom/apps/chat/chat.js"></script>
		<script src="assets/js/custom/utilities/modals/upgrade-plan.js"></script>
		<script src="assets/js/custom/utilities/modals/create-app.js"></script>
		<script src="assets/js/custom/utilities/modals/users-search.js"></script> #}
	</body>
</html>