<!DOCTYPE html>
<html>
    <head>
        <title>{{title}}</title>
    </head>
    <style>
        #viewer {
        height: 100vh; 
    }
    </style>
    <script src='/assets/js/lib/webviewer.min.js'></script>

    <body>
        <div id='viewer' style="position: relative; overflow: hidden;"></div>
    </body>
    <script>
        var d = new WebViewer({
            path: '/assets/js/lib', // path to the PDF.js Express'lib' folder on your server
            licenseKey: 'eIxUH92VbxnbChA105KP',
            initialDoc: '{{file}}',
        }, document.getElementById('viewer'))
        .then(instance => {
            instance.setFitMode(instance.FitMode.FitWidth);
            instance.UI.disableFeatures([instance.UI.Feature.Print]);
        });
    </script>

</html>
